<div class="row">
    <div class="col-8 offset-2">
        <form action="/products/save-add" method="post">
            <div class="form-group">
                <label for="">Tên sản phẩm</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="">Danh mục</label>
                <select name="cate_id" class="form-control">
                    <option value="">Tivi</option>
                    <option value="">Tủ lạnh</option>
                    <option value="">Máy giặt</option>
                    <option value="">Máy rửa bát</option>
                </select>
            </div>
        </form>
    </div>
</div>