<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <main class="container">
      {{{body}}}
    </main>
  </body>
</html>
